<p id="notice"><%= notice %></p>

<div>
  <p>プロフィール</p>
  <p><strong><%= @user.name %></strong><br><%= @user.bio %></p>
  <table>
    <thead>
      <th>ID</th>
      <th>タイトル</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </thead>
    <tbody>
      <% @user.diaries.each do |diary| %>
        <tr>
          <td><%= diary.id %></td>
          <td><%= link_to diary.title, diary %></td>
          <td><%= diary.created_at %></td>
          <td><%= diary.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
